
.classpath

.project

target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst

*.jar

*.class

target/maven-archiver/pom.properties

.settings/org.eclipse.m2e.core.prefs

.settings/org.eclipse.jdt.core.prefs
